doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src="/javascripts/jquery.js")
  script(src="/socket.io/socket.io.js")
  script.
    var urls = $('#urls');

    // Begin
    var socket = io.connect();
    socket.on('begin', function (data) {
      $('#connect').text(data.msg);
    });

    // Add url
    socket.on('parse', function (data) {
      urls.append($('<li>').text(data.url));
    });