extends layout

block content
  h1=title
  form(method="GET", action="")
    input(name="url", type="text")
    input(name="Submit", type="submit", value="Parse it")

  div#connect
  ul#urls

  div#db
